In [367]:
!pip install openpyx1
!pip install xlrd

ERROR: Could not find a version that satisfies the requirement openpyx1 (from versions: none)
ERROR: No matching distribution found for openpyx1

Requirement already satisfied: xlrd in c:\users\aican\anaconda3\lib\site-packages (2.0.1)

In [368]:
import pandas as pd
df = pd.read_excel(r"C:\Users\aican\2025-Ironhack\2025-CW16\2025-CW16-D1\GSAF5.xls")

In [369]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [370]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,...,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7006,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [371]:
# Null values
df.isnull().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal Y/N          True
Time               True
Species            True
Source             True
pdf                True
href formula       True
href               True
Case Number        True
Case Number.1      True
original order     True
Unnamed: 21        True
Unnamed: 22        True
dtype: bool

In [372]:
# Null values
# 1. Remove colums we don't need and keep only 6 columns
# 2. Remove rows where all values are null.
# 3. THRESHOLD TO DECIDE. Remove all rows in which there is at least 1 null value.

In [373]:
df_columns = df.drop(['Year', 'State', 'Location', 'Activity', 'Name', 'Age', 'Injury', 
         'Fatal Y/N', 'Time', 'Source', 'pdf', 'href formula', 
         'href', 'Case Number', 'Case Number.1', 'original order', 
         'Unnamed: 21', 'Unnamed: 22'], axis=1, inplace=True)

df

,Date,Type,Country,Sex,Species
0,2025-03-26 00:00:00,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10 00:00:00,Unprovoked,Australia,M,Great White Shark
2,2025-03-07 00:00:00,Unprovoked,Australia,F,Bull shark
3,2025-02-27 00:00:00,Unprovoked,Australia,M,Not stated
4,27-Feb-25,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
7004,Before 1903,Unprovoked,AUSTRALIA,M,NaN
7005,Before 1903,Unprovoked,AUSTRALIA,M,NaN
7006,1900-1905,Unprovoked,USA,M,NaN
7007,1883-1889,Unprovoked,PANAMA,M,NaN
7008,1845-1853,Unprovoked,CEYLON (SRI LANKA),M,NaN

In [374]:
# 2. Remove rows where all values are null.
# 3. THRESHOLD TO DECIDE. Remove all rows in which there is at least 1 null value.
df.dropna()

,Date,Type,Country,Sex,Species
0,2025-03-26 00:00:00,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10 00:00:00,Unprovoked,Australia,M,Great White Shark
2,2025-03-07 00:00:00,Unprovoked,Australia,F,Bull shark
3,2025-02-27 00:00:00,Unprovoked,Australia,M,Not stated
4,27-Feb-25,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
6983,Early 1930s,Unprovoked,BELIZE,M,12' tiger shark
7000,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointer
7001,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointer
7002,Before 1906,Unprovoked,AUSTRALIA,M,Blue pointers
7003,Before 1906,Unprovoked,AUSTRALIA,M,Said to involve a grey nurse shark that leapt ...

In [375]:
# dropna() removes rows where any value is NaN (null). We have now 0 null values.

In [376]:
### Manipulating strings with RegEx.

In [377]:
# =========================
# Convert 'Date' Columns to Datetime Format
# =========================

# Convert the 'Date' column in the stock dataset to datetime format
# 'errors="coerce"' will handle invalid parsing by converting them to NaT (Not a Time)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce').dt.date

In [389]:
df

            Date          Type             Country Sex           Species
0     2025-03-26    Unprovoked           Australia   M   1.5m Tiger shark
1     2025-03-10    Unprovoked           Australia   M  Great White Shark
2     2025-03-07    Unprovoked           Australia  F          Bull shark
3     2025-02-27    Unprovoked           Australia   M         Not stated
4     2025-02-27  Questionable         Philippines   M        Not stated
...          ...           ...                 ...  ..                ...
7004         NaT    Unprovoked           AUSTRALIA   M                NaN
7005         NaT    Unprovoked           AUSTRALIA   M                NaN
7006         NaT    Unprovoked                 USA   M                NaN
7007         NaT    Unprovoked              PANAMA   M                NaN
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M                NaN

[7009 rows x 5 columns]

In [391]:
df.dropna()

,Date,Type,Country,Sex,Species
0,2025-03-26,Unprovoked,Australia,M,1.5m Tiger shark
1,2025-03-10,Unprovoked,Australia,M,Great White Shark
2,2025-03-07,Unprovoked,Australia,F,Bull shark
3,2025-02-27,Unprovoked,Australia,M,Not stated
4,2025-02-27,Questionable,Philippines,M,Not stated
...,...,...,...,...,...
6817,1812-05-01,Unprovoked,ENGLAND,M,Thought to involve a porbeagle or mako shark
6825,1805-09-01,Invalid,USA,M,Shark involvement prior to death unconfirmed
6846,1767-01-01,Invalid,FRANCE,M,Description of shark does not ring true
6848,1970-01-01,Unprovoked,MEDITERRANEAN SEA,M,"""The fish was harpooned, dried, and presented ..."
6858,1721-06-01,Unprovoked,ITALY,M,"White shark, 1600-lb female"

In [275]:
df.columns

Index(['Date', 'Type', 'Country', 'Sex', 'Species '], dtype='object')

In [331]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009 entries, 0 to 7008
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6134 non-null   object
 1   Type      6991 non-null   object
 2   Country   6959 non-null   object
 3   Sex       6430 non-null   object
 4   Species   3877 non-null   object
dtypes: object(5)
memory usage: 273.9+ KB

In [393]:
df.rename(columns= {'Species ': 'Species'}, inplace=True)
print(df.columns)

Index(['Date', 'Type', 'Country', 'Sex', 'Species'], dtype='object')

In [395]:
unique_species = df["Species"].unique()
print(unique_species)

['1.5m Tiger shark' 'Great White Shark' 'Bull shark' ... "12' tiger shark"
 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [397]:
df["Species"] = df["Species"].apply(lambda x:x.lower() if type(x) == str else x)

In [399]:
df

            Date          Type             Country Sex            Species
0     2025-03-26    Unprovoked           Australia   M   1.5m tiger shark
1     2025-03-10    Unprovoked           Australia   M  great white shark
2     2025-03-07    Unprovoked           Australia  F          bull shark
3     2025-02-27    Unprovoked           Australia   M         not stated
4     2025-02-27  Questionable         Philippines   M        not stated
...          ...           ...                 ...  ..                ...
7004         NaT    Unprovoked           AUSTRALIA   M                NaN
7005         NaT    Unprovoked           AUSTRALIA   M                NaN
7006         NaT    Unprovoked                 USA   M                NaN
7007         NaT    Unprovoked              PANAMA   M                NaN
7008         NaT    Unprovoked  CEYLON (SRI LANKA)   M                NaN

[7009 rows x 5 columns]

In [500]:
def change_bull(x):
    if type(x) == str and "bull" in x.lower():
        return "bull shark"
    else:
        return x

In [502]:
df["Species"] = df["Species"].apply(change_bull)

In [469]:
def change_blacktip(x):
    if type(x) == str and "blacktip" in x.lower():
        return "blacktip shark"
    else:
        return x

In [471]:
df["Species"] = df["Species"].apply(change_blacktip)

In [490]:
def change_bronze_into_copper(x):
    if type(x) == str and "bronze" in x.lower():
        return "copper shark"
    else:
        return x

In [492]:
df["Species"] = df["Species"].apply(change_bronze_into_copper)

In [494]:
def change_copper(x):
    if type(x) == str and "copper" in x.lower():
        return "copper shark"
    else:
        return x

In [496]:
df["Species"] = df["Species"].apply(change_copper)

In [504]:
def change_white(x):
    if type(x) == str and "white" in x.lower():
        return "white shark"
    else:
        return x

In [506]:
df["Species"] = df["Species"].apply(change_white)

In [508]:
def change_caribbean_reef(x):
    if type(x) == str and "caribbean" in x.lower():
        return "caribbean reef shark"
    else:
        return x

In [510]:
df["Species"] = df["Species"].apply(change_caribbean_reef)

In [527]:
def change_galapagos(x):
    if type(x) == str and "galapagos" in x.lower():
        return "galapagos shark"
    else:
        return x

In [529]:
df["Species"] = df["Species"].apply(change_galapagos)

In [531]:
def change_lemon(x):
    if type(x) == str and "lemon" in x.lower():
        return "lemon shark"
    else:
        return x

In [533]:
df["Species"] = df["Species"].apply(change_lemon)

In [537]:
def change_mako(x):
    if type(x) == str and "mako" in x.lower():
        return "mako shark"
    else:
        return x

In [539]:
df["Species"] = df["Species"].apply(change_mako)

In [545]:
def change_nurse(x):
    if type(x) == str and "nurse" in x.lower():
        return "nurse shark"
    else:
        return x

In [547]:
df["Species"] = df["Species"].apply(change_nurse)

In [ ]:
keywords = ['bull', 'tiger', 'white', 'mako', 'hammerhead', 'spinner', 'blacktip', 'thresher', 'blue', 'nurse', 'lemon']

In [ ]:
 copper shark

In [549]:
len(df["Species"].unique())

774

In [475]:
df["Species"].unique()

array(['tiger shark', 'white shark', 'bull shark', 'not stated',
       'not stated ', 'mako shark', 'bronze whaler',
       'described as a large terrifying animal', 'unknown', 'unknown ',
       '1m shark species unknown', 'reef shark 6ft (1.8m)',
       'undetermined small shall shark', 'blacktip shark',
       'not specified', '6 ft shark', '6ft shark', 'large shark',
       '2.5m shark', '3m sandbar shark', 'carribean reef shark 7ft',
       "3' to 4' shark", nan, 'raggedtooth shark', 'broze whaler?',
       'sevengill shark', 'shark involment not confirmed', 'lemon shark',
       "bronze whaler, 6'", "nurse shark, 5' to 6'",
       "10' to 12' galapagos shark", 'cookiecutter sharks', 'blue shark',
       'wfite shark', 'wobbegong shark', "8' shark", "4' shark",
       "3' shark", 'caribbean rreef shark', 'grey reef shark, 2 m',
       'caribbean reef shark', 'shark involvement not confirmes',
       '18" - 23" horn shark', '1m shark', 'bronze whaler shark, 1.5 m',
       'authorities report injury caused bya barracuda', '5m to 6m shark',
       'a small shark', 'nurse shark', "5'shark", '3m shark',
       'juvenile nurse shark', 'bu.ll', "6' shark",
       'shark involvement not confirmed', "lemon shark  6'",
       '"a small shark"', "9' shark", 'while shark',
       'bronze whaler shark, 2m', "5' shark", 'epaulette shark',
       'dogfish', 'broadnose seven gill shark', 'no shark invovlement ',
       'sickelfin lemon shark, 3m', " spinner shark, 4'?",
       "2' to 3' shark", 'galapagos shark', "7' to 8' shark ",
       "tope shark, 6'", 'bronze whaler shark, 2 m', '8 ft shark',
       '5.5 ft shark', 'mako shark, 4 juvenile', '1.3m shark',
       "3' to 5' shark", '  ', 'bronze whaler shark', 'juvenile shark',
       ' ', '8" shark', '"reef shark"', '4m shark', 'bronze whaler 1.5m',
       'small nurse shark', 'injuries not caused by a shark',
       "4' to 5' shark", 'nurse shark, juvenile', "nurse shark, 5'",
       "lemon shark, 8'", "reef shark, 5' to 6 '", '2 m shark',
       'shark involvement unconfirmed but considered probable',
       'angel shark', "5' to 6' shark", 'broadnose seven gill shark?',
       'shovelnose "shark" which is a ray, not a shark)', "7' shark",
       '1+ m shark', "6' to 7' shark", "2' shark",
       "galapagos shark, 5'-9'", "6.5' shark", 'grey reef shark 1.5m',
       "10' to 12' shark", 'cookiecutter shark', 'shark pup',
       'lemon shark pup', 'grey nurse shark, 3 m female', "12' shark",
       "grey reef shark, 4' ", 'spinner shark', '2.5 m shark',
       'reef shark, ',
       'reported as shark bite but injury caused by stingray',
       'reported as shark attacks but injuries caused by toadfish',
       "mako shark, 7'", 'bronze whaler 2.5m', 'reef shark x 2',
       'blue shark, 47kg', "5' to 8' shark", 'reef shark',
       'salmon shark, juvenile',
       'injury most likely caused by barracuda, not a shark',
       "lemon shark, 3'", 'grey reef shark', 'invalid incident',
       'tawny nurse shark, 2m', 'questionable', '3 m shark',
       '3.5 m shark', '1.8 m shark', 'possibly a wobbegong',
       'injury believed caused by an eel, not a shark',
       'galapagos shark?', '2m shark', 'sicklefin lemon shark,',
       'grey reef shark. 2 m', 'small shark', 'wobbegong shark?',
       "nurse shark. 5'",
       'some drowned but other may have been killed by blue sharks',
       'wobbegong shark, 1 m', 'spinner shark, 4 to 5 feet',
       'porbeagle, 1.5 m', 'shark involvement questionable',
       "blue shark 6'", 'shark involvement prior to death not confirmed',
       'seven-gill shark', '3m shark, probably a smooth hound',
       'shark involvement highly doubtful',
       'no shark invovlement - it ws a publicity stunt', "10' shark",
       'wobbegong shark, 2m', 'broadnose sevengill shark, 1.5 m',
       " 6' to 8' shark", 'invalid', "nurse shark, 4'", 'reef shark, 1m',
       "lemon shark, 9'", 'dogfish shark', 'tawny nurse shark',
       "caribbean reef shark, 4.5'",
       "said to involve an 8' shark but more likely damage caused by debris",
       '3+ m shark', 'bronze whaler sharks x 3', "nurse shark, 2'",
       "mako shark, 1.5 m [5'] ", 'nurse shark, 2.5-ft',
       'no shark involvement', "reef shark, 5'", "silky shark, 6.5'",
       "bronze whaler shark, 6'", "spinner shark, 7'",
       "spinner shark, 5'", 'hammerhead sp.', 'hammerhead shark',
       'hammerhead shark.', "4' shark?", "hammerhead shark. 6' to 7'",
       "thought to involve a 3' to 4' shark, but shark involvement not confirmed",
       'mako shark, 100-lb', 'bronze whaler shark, 1.5m',
       'shark involvement not cofirmed', '1m to 1.2 m shark',
       '3- to 4-foot shark', 'blue shark, 8 to 9 feet',
       '3.5 to 4 m shark', '2 m to  3 m shark', '5 m shark',
       '1.5 m shark', 'raggedtooth shark, 1.3 m',
       'shark involvement prior to death still to be determined',
       'shark involvement not confirmed & highly unlikely',
       'goblin shark', '1 m shark', "8' to 10' shark", "4' to 6' shark",
       "4' tp 5' shark", '1.8 metre shark', "6' to 8' shark",
       "caribbean reef shark, 7' to 8'", ' lemon shark, 3.5 m',
       " sandbar shark, 3' to 4'", ' tawney nurse shark, 1m', 'cow shark',
       'reef shark?', ' raggedtooth shark, 2m', '7-gill shark?',
       '7-gill shark', ' wobbegong shark, 1.6 to 1.8m ', 'nurse shark?',
       'salmon shark', "mako shark, 5'", "lemon shark, 4'",
       'wobbegong, 2m', 'grey nurse shark, 3m',
       'raggedtooth shark, 1.5 m', 'bronze whaler shark, 2.5m',
       '"small sharks"', 'bronze whaler shark, 3m', "3.5' to 4' shark",
       "porbeagle shark, 7'", '4.5 m shark', "lemon shark, 4' to 5' ",
       'lemon shark, 2.5m to 3m ', 'salmon shark suspected, but unlikely',
       "14' to 18'shark", "15' shark", 'a small reef shark',
       'blue shark, 2.5m', '18" to 24" shark', 'tawny nurse shark, 40cm',
       'grey nurse shark', 'blue shark, 70-kg blue shark',
       'port jackson shark, 1m', '2 to 2.5 m shark',
       "6' shark, possibly a blactip or spinner shark", '4 m shark',
       'grey reef shark ', "sevengill shark, 6' to 8'", 'zambesi shark',
       "sandbar shark, 8'", 'reef shark, 1.5m', "1' to 2' shark",
       'possibly a bronze whaler shark', '3 m to 4 m shark',
       'mako shark ', "porbeagle shark, 8' ", "possibly a 6' lemon shark",
       'shark involvement prior to death was not confirmed',
       'a small spinner shark', 'nurse shark, juvenile ',
       "blue shark, 7'", '20 to 30kg shark', "lemon shark, 6'",
       "14' shark", 'possibly a blue shark', 'wobbegong shark, 1.6m',
       '2 m to 3 m shark', "spinner shark, 6'",
       'thought to involve a juvenile hammerhead shark',
       'zambesi shark, 2m ', 'thresher shark', 'spurdog',
       "caribbean reef shark, 6'", "nurse shark, 6'",
       'thought to involve a bronze whale shark, 2m',
       'shark involvement probable, but not confirmed', '80 kg shark',
       'bronze whaler shark?', 'thought to involve a cookiecutter shark',
       'wobbegong shark, 60cm', 'blue shark, 1m', '2.6 m shark',
       'dusky shark, 2m', 'mako shark, 3m', 'broadnose sevengill shark',
       'raggedtooth shark, 2m', 'zambesi shark?', ' reef shark, 1.8m',
       "+3' shark", "2' to 3' juvenile shark", "3'  shark", "2'  shark",
       "2' to 3' reef shark", 'starry smoothhound shark, 1m',
       "4.5 to 5' shark", 'basking shark',
       'reported by media as shark attack, but shark involvement prior to death was not confirmed',
       'shark involvement not confirmed; thought to be a barracuda bite',
       "1.5' to 2' shark", "2.5' shark", "goblin shark, 4.2'",
       'mako shark, 90kg', 'bronze whaler shark, 4m', "nurse shark, 10'",
       'possibly a hammerhead shark', 'not a shark attack; it was a hoax',
       '2.27 m shark', '1.5 to 2 m shark', 'gray reef shark',
       "9.5' shark?", "nurse shark, 2' to 3' ",
       'possibly a spinner shark', 'sand shark',
       'bronze whaler shark, 1.5 m ',
       "3' small spotted catshark, scyliorhinus canicula",
       'questionable incident', "lemon shark, 6' female ",
       'lesser spotted dogfish, scyliorhinus canicula, less than 80 cm in length',
       'lemon shark, >1 m ', '2.4 m shark', '24" to 30" shark',
       'silvertip shark', '2.5 to 3 m shark', '2 to 3 m shark',
       'raggedtooth shark, 150-kg', "1' to 4' shark", "3' to 3.5' shark",
       'small catsharks',
       'thought to involve a mako shark, but possibly a sea lion',
       'angel shark, 1.2m ',
       'shark involvement not confirmed, injury may have been caused by a bluefish',
       "grey reef shark, 5' to 8' ", 'wobbegong shark, 2 m ',
       'bronze whaler shark, a  juvenile ',
       'raggedtooth shark, 2.5 m to 3 m ', '3 m, 600-kg shark',
       "5' to 7' shark", "12' to 18' shark",
       'said to involve a 1.5 m shark', 'raggedtooth shark, 2.5m ',
       'caribbean reef sharks', "2 m [6.75'] shark, 200-kg shark t",
       "1.8 m [6'] shark", "3.5 m [11.5']shark", "[4.5' to 5'] shark",
       "[4' to 5']",
       'on 8/13/2005 anglers from new zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. it was believed this was the same shark that killed alysha',
       'unknown, but it was reported that a shark tooth was recovered from the wound',
       '"small shark"', '18" to 36" shark', "2 m [6.75'] copper shark",
       'small hammerhead shark', "4 m [13'] shark",
       "bronze whaler shark, 4.3 m [14'] ", "nurse shark, 3' ",
       "1.8 m [6'] caribbean reef shark", "3 m [10'] shark",
       "bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
       "bronze whaler shark, 2.4 m [8'] ",
       "raggedtooth shark, 1.5 to 2 m [5' to 6.75']", "2.4 m [8'] shark",
       "1.2 m [4'] shark", "1.2 m to 1.5 m [4' to 5'] shark",
       "longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
       '2 sharks, 4.5 m & 3 m ', '"black tipped" shark',
       "bronze whaler shark, 2.5 m [8.25'] ",
       "0.9 m to 1.5 m [3' to 5'] shark",
       "2.4 m to 3.7 m [8' to 12'] shark",
       "1,5 m [5'] caribbean reef shark (carcharhinus  perezi)",
       "mako shark, 1.8 m [6']", "wobbegong shark, 1.2 m [4'] k",
       'small sharks', "bronze whaler shark, 1.5 m [5'] ",
       "2 m [6.75'] sevengill  shark",
       '60 cm [23.6"] blind or brown shark', 'shark involvement doubtful',
       "mako shark, 3 m to 4 m [10' to 13'] ",
       "raggedtooth shark, 3.5 m [11.5'] ", 'shortfin mako shark',
       "wobbegong shark, 1.2 m [4'] ",
       "nurse shark, 60 cm to 90 cm [2' to 3'] ",
       "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
       '1.2 m [4\'] "grey-colored shark"', '2 m cow shark',
       'unidentified species', "1.5 m to 1.8 m [5' to 6'] shark",
       "8' great hammerhead shark", "106 cm [3.5']  shark",
       '“small brown shark”', "3.7 m to 4.3 m [12' to 14'] shark",
       '"sand shark"',
       "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
       "0.9 m to 1.2 m [3' to 4'] shark", 'a “small” shark',
       '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
       "mako shark, 3 m [10']", "60 cm [2'] captive shark",
       'species unidentified',
       "thought to involve a 2 m [6.75'] grey nurse shark",
       'reported to involve a hammerhead shark', 'wobbegong shark, 1m',
       'shark involvement not confirmed, injury may be due to a stingray',
       "2.4 m to 3 m [8' to 10'] grey colored shark",
       "1.8 m to 2.1 m [6' to 7']\xa0 caribbean reef shark ",
       "3.5' to 4.5' shark", "3 m to 3.7 m [10' to 12'] shark",
       "1' to 2' hammerhead or bonnethed shark",
       "0.9 m  to 1.2 m [3' to 4'] shark", "nurse shark, 1.5 m [5'] ",
       'mako shark, 400-lb ',
       "0.9 m to 1.2 m [3' to 4'] shark; tooth fragment recovered from hand",
       '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark", '1 m  shark',
       "2.1 m to 2.4 m [7' to 8'] shark", "0.9 m [3'] shark",
       'nurse shark, 1m ', "spinner shark, 3' to 4' ",
       'shark involvement prior to death unconfired',
       '1.5 m [5\'] "whaler shark"',
       'c. leucas tooth fragment recovered from kayak', 'unidentified',
       "mako shark, 2 m [6.75'] ",
       'questionable incident - shark bite may have precipitated drowning',
       "2' to 3.5' shark", "1.5 m [5'] shark", "mako shark, 14' ",
       "0.9 m  [3'] shark", "1.2 m to 1.5 m [4.5' to 5'] shark",
       "spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
       "bronze whaler shark, 2.5 m [8.25']  k", "2 m [6.75'] shark",
       '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
       "6 m [20'] shark", "porbeagle shark, 3 m [10']rk",
       "1.2 m to 1.8 m [4' to 6'] shark", "2.1 to 2.4 m [7' to 8'] shark",
       '100-kg [221-lb] dead blue shark',
       "60 cm to 90 cm [2' to 3'] shark",
       'thought to involve a zambesi shark',
       "a 2' shark was seen in the area by witnesses",
       'shark involvement  not confirmed', "nurse shark, 1.5 m [5']",
       "1.8 m [6'] grey-colored shark", "grey reef shark, 2 m [6.75'] ",
       "lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
       "nurse shark, 1.2 m [4'] ", "2 m to 2.5 m [6.75'  to 8.25'] shark",
       'shark involvement  questionable',
       "shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
       '1.3 to 1.6 m shark', "grey reef shark, 1.2 m [4'] ",
       "lemon shark, 2.7 m [9'] ", 'grey reef shark, 1.5 m ',
       "sevengill shark, 2.4 m [8'] ", '200 to 300 kg shark',
       'mako shark, 1.3 m gaffed ',
       "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
       'a "small shark"', "dusky shark, 12' ",
       "caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
       "4.5' to 5' shark", "raggedtooth shark, 1.2 m [4'] ",
       "lemon shark, 1.5 m [5'], identified  by the surfer",
       "nurse shark, 0.9 m [3'] ", "5' spinner shark", '1.7 m shark',
       'small dusky shark or blackfin shark',
       'shark involvement prior to death suspected but not confirmed',
       'soupfin shark', '"juvenile shark"',
       "1.2 m [4'] shark (spinner shark?)", 'possibly a sand shark',
       'possibly a caribbean reef shark',
       "1.8 m to 2.1 m [6' to 7'] shark", '"a young shark"',
       "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
       "nurse shark, 0.9 m  [3'] ", "mako shark, 4.3 m [14']",
       "1.2 m to 1.5 m [4' to 5']   shark",
       "1.5 to 1.8 m [5' to 6'] shark", '"sand" shark',
       "two 1.2 m to 1.5 m [4' to 5'] sharks", "3.7 m [12'] shark",
       'bronze whaler shark, 2 m ', 'leopard shark',
       "raggedtooth shark, 2.7 m [9'] ", "2.7 m [9'] shark",
       'thought to involve a small sand shark',
       "1.2 m [4'] spinner shark", "2.1 m [7'] shark",
       ">1.8 m [6'] shark", "lemon shark, 4' ", '1.3 m [4\'3"] shark',
       "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
       "mako shark, 1.8 m [6']  ", '3 m hammerhead shark',
       'unidentified shark', "nurse shark, 3', 20-lb ", '>2 m shark',
       'bronze whaler shark, 3 m', "5 m [16.5'] shark",
       '1.8 m grey shark', "bronze whaler shark, 2.3 m [7.5'] ",
       "zambesi shark, 1.7 m [5.5'] ",
       "3 m [10'], 270- kg [595-lb] shark", 'lemon shark, 30-lb ',
       "2.1 m [7'], 140-lb reef shark", 'shark involvement unconfirmed',
       '170-kg, 2.8 m shark', "7' female shark",
       '"shark had a very large girth"', 'grey nurse shark, 2 m',
       "1.8 m [6'] shark ", "4' spinner shark",
       "1.8 m to 2.4 m [6' to 8'] shark",
       'shark involvement prior to death could not be determined',
       '6 m, 600-kg shark', '2 m hammerhead',
       "two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] tl",
       '2 m shark, possibly a bronze whaler',
       'shark involvement suspected but not confirmed', '150-lb shark',
       'sandbar shark', 'blue shark ', "bronze whaler shark, 3 m [10'] ",
       "3 m [10'] gaffed shark",
       "1.8 m to 2.4 m [6' to 8'] hammerhead shark", "7' silvertip shark",
       '2 m to 2.5 m shark', "1.5 m [5'] caribbean reef shark",
       'sand shark?', "1.5 m to 2 m [5' to 6.75'] shark",
       'raggedtooth shark, 2 m ', '1 m "grey-colored" shark',
       'zambezi shark (tooth fragments recovered)',
       "mako shark, 3 m [10'], 200-kg [441-lb] ", '1.5 m copper shark',
       '6 m shark', '40 to 50 sharks attacked survivors in the water',
       '4.3 m shark', 'bronze whaler shark, 2 m to 3 m ',
       'doubtful / unconfirmed attack / unable to verify in local records',
       "raggedtooth shark, 2.5 m [8.25'] ",
       'raggedtooth shark, 1.96 m, 140-kg ',
       "lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered",
       '1.6 m shark', "1.2 m [4'] dusky shark", '>1 m shark',
       "raggedtooth shark, 2 m [6.75'] ", 'bronze whaler shark, 3.5 m ',
       "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
       "6', 100-lb shark", '1.8 m silky shark',
       'possibly a small hammerhead shark', '30-kg [66-lb] shark',
       "1.5 m [5'] dusky shark",
       'shark involvement not confirmed; officials considered barracua',
       'hammerhead shark?+o2356', 'small blue shark',
       'raggedtooth shark ', "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
       "2.5 m [8.25'] shark", 'raggedtooth shark, 56-kg [123-lb] ',
       " 1.5 m [5'] dusky shark", 'raggedtooth shark, 1 m ',
       'raggedtooth shark, >1 m ', '.5 m shark', "4.5' shark",
       "3 m to 4 m [10' to 13'] shark", "3.5' hammerhead shark",
       "raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
       "1.8 m [6'] zambezi shark", 'blue sharks', 'bronze whaler, 2m',
       'questionable incident; reported as shark attack but thought to involve a pinniped instead ',
       "2.1 m [7'] shark, possibly a spinner shark",
       'reported as a shark attack, the story was a hoax',
       'lemon shark, 2 m [6\'9"]',
       '1.2 m to 1.5 m [4\' to 5\'] "reef shark"',
       '2.1 m [7\'] shark with "a very flat head” that had followed the boat for 3 days',
       "1.8 m [6'] shark, species identity questionable",
       'shark involvement prior to death remains unconfirmed',
       'mako shark (tooth fragments recovered)', '"sandshark"',
       "possibly a  1.8 m [6'] zambezi shark", '"gray shark"',
       "13', 400-lb thresher shark", 'c. maculpinnis or c. limbatus',
       '1 m hammerhead shark', "3.5 m [11.5'] shark", "4' to 8' shark",
       "1.5 m [5'] hammerhead shark", '2.2 m shark',
       '2 m [6\'9"] zambesi shark', 'raggedtooth shark, 2 m [6\'9"] ',
       "1.8 m [6'] dogfish",
       "raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed ",
       '2 m [6\'9"] shark', 'sevengill shark, 2.4 m', '270 kg shark',
       "1.5 to 2 m [5' to 6.75'] shark", 'mako shark, 2.3 m, 150-kg  ',
       "2.7 m  [9'] shark", "12' to 14' shark", 'blue shark, 2m ',
       'mako shark, 180-kg [397-lb]', 'whale shark',
       "grey nurse shark, 10' ", 'juvenile dusky shark',
       "2.4 m [8'] whaler shark", "1.5 m [5']  shark",
       "mako shark, 3 m [10'] ", "carpet shark, 10' ",
       'copper shark, 50-kg [110-b] ', "8' blue shark",
       "shortfin mako shark, 2.3 m [7.5'] ", "small sharks'",
       "3.7 m [12'] sharks", "raggedtooth shark, 1.5 m [5'] ",
       "bronze whaler shark, 4' ",
       "1.2 m to 1.8 m [4' to 6'] shark observed in area",
       "bronze whaler shark, 10' ", '1.5 m grey reef shark',
       "1.8 m [6'] grey reef shark", '1.5 m to 2 m shark',
       "grey nurse shark, 11'", '3.6 m  porbeagle shark',
       '1.8 to 2 m c. albimarginatus', '"dog shark"', "7.5' shark",
       'raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female ',
       'wobbegong shark ', 'carpet shark', ">2.4 m [8'] shark",
       'considered a "doubtful" incident', "lemon shark, 9' ",
       "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']",
       '90-kg "blackfin" shark', 'a small hammerhead shark',
       "4m [13'] shark", 'not authenticated',
       "1.5 m to 2 m [5' to 6.75'] caribbean reef shark ",

In [543]:
df["Species"].value_counts()

Species
white shark                                                                                                                      743
tiger shark                                                                                                                      332
bull shark                                                                                                                       239
blacktip shark                                                                                                                   133
shark involvement prior to death was not confirmed                                                                               105
                                                                                                                                ...
1.2 m [4'] spinner shark                                                                                                           1
>1.8 m [6'] shark                                                                                                                  1
1.3 m [4'3"] shark                                                                                                                 1
1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered                                                                         1
said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 837, dtype: int64

# List of 15 shark species:
### This list was made using rows 1 to 101. There might be missing species.
1. Blacktip shark: I considered these to be the same species: Blacktip Shark – Carcharhinus limbatus AND Blacktip Reef Shark – Carcharhinus melanopterus
2. Copper shark: Bronze Whaler (Copper Shark) – Carcharhinus brachyurus
3. Bull Shark: – Carcharhinus leucas
4. White shark: Great White Shark (White Shark) – Carcharodon carcharias
5. Caribbean reef shark: – Carcharhinus perezi
6. Galapagos shark:  – Carcharhinus galapagensis
7. Lemon shark: Negaprion brevirostris
8. Mako shark: These are the same species (same latin name): shortfin mako sark AND mako shark. Mako Shark (Shortfin) – Isurus oxyrinchus
9. Nurse shark: Ginglymostoma cirratum

Oceanic Whitetip Shark – Carcharhinus longimanus

Raggedtooth Shark (Sand Tiger Shark) – Carcharias taurus

Sandbar Shark – Carcharhinus plumbeus

Sevengill Shark (Broadnose) – Notorynchus cepedianus

Tiger Shark – Galeocerdo cuvier

# Replace species in row 3
Bull shark
replace with
Bull Shark – Carcharhinus leucas

In [281]:
# Find any values containing "bull".

In [337]:
filtered_df = df[df["Species"].str.contains("bull", case=False, na=False)]
print(filtered_df)

            Date        Type           Country Sex  \
2     2025-03-07  Unprovoked         Australia  F
8     2025-02-10  Unprovoked           Bahamas   F
9     2025-02-10  Unprovoked           Bahamas   F
10    2025-02-07  Unprovoked  Turks and Caicos   F
11    2025-02-03  Unprovoked         Australia   F
...          ...         ...               ...  ..
6932         NaT  Unprovoked              IRAN   M
6949         NaT  Unprovoked              IRAQ   M
6950         NaT  Unprovoked              IRAQ   M
6960         NaT  Unprovoked         NICARAGUA   M
6972         NaT  Unprovoked              IRAQ   M

                                                Species
2                                            Bull shark
8                                            bull shark
9                                            bull shark
10                                1.8m (6ft) bull shark
11                                           Bull shark
...                                                 ...
6932                                         Bull shark
6949                                         Bull shark
6950                                         Bull shark
6960  Bull shark caught, leg recovered & buried besi...
6972                                         Bull shark

[239 rows x 5 columns]

In [284]:
filtered_df = df[df["Species"].str.contains("bull", case=False, na=False)]
print(filtered_df)

            Date        Type           Country Sex  \
2     2025-03-07  Unprovoked         Australia  F
8     2025-02-10  Unprovoked           Bahamas   F
9     2025-02-10  Unprovoked           Bahamas   F
10    2025-02-07  Unprovoked  Turks and Caicos   F
11    2025-02-03  Unprovoked         Australia   F
...          ...         ...               ...  ..
6932         NaT  Unprovoked              IRAN   M
6949         NaT  Unprovoked              IRAQ   M
6950         NaT  Unprovoked              IRAQ   M
6960         NaT  Unprovoked         NICARAGUA   M
6972         NaT  Unprovoked              IRAQ   M

                                                Species
2                                            Bull shark
8                                            bull shark
9                                            bull shark
10                                1.8m (6ft) bull shark
11                                           Bull shark
...                                                 ...
6932                                         Bull shark
6949                                         Bull shark
6950                                         Bull shark
6960  Bull shark caught, leg recovered & buried besi...
6972                                         Bull shark

[239 rows x 5 columns]

In [285]:
# Replace any values containing bull with Bull Shark – Carcharhinus leucas.

In [286]:
filtered_df

,Date,Type,Country,Sex,Species
2,2025-03-07,Unprovoked,Australia,F,Bull shark
8,2025-02-10,Unprovoked,Bahamas,F,bull shark
9,2025-02-10,Unprovoked,Bahamas,F,bull shark
10,2025-02-07,Unprovoked,Turks and Caicos,F,1.8m (6ft) bull shark
11,2025-02-03,Unprovoked,Australia,F,Bull shark
...,...,...,...,...,...
6932,NaT,Unprovoked,IRAN,M,Bull shark
6949,NaT,Unprovoked,IRAQ,M,Bull shark
6950,NaT,Unprovoked,IRAQ,M,Bull shark
6960,NaT,Unprovoked,NICARAGUA,M,"Bull shark caught, leg recovered & buried besi..."
6972,NaT,Unprovoked,IRAQ,M,Bull shark

In [287]:
filtered_df = df[df["Species"].str.contains("bull", case=False, na=False)]
print(filtered_df)

# Replace all values in Species that contain "bull"
df["Species"] = df["Species"].str.replace("bull", "Bull Shark – Carcharhinus leucas", case=False, regex=True)

            Date        Type           Country Sex  \
2     2025-03-07  Unprovoked         Australia  F
8     2025-02-10  Unprovoked           Bahamas   F
9     2025-02-10  Unprovoked           Bahamas   F
10    2025-02-07  Unprovoked  Turks and Caicos   F
11    2025-02-03  Unprovoked         Australia   F
...          ...         ...               ...  ..
6932         NaT  Unprovoked              IRAN   M
6949         NaT  Unprovoked              IRAQ   M
6950         NaT  Unprovoked              IRAQ   M
6960         NaT  Unprovoked         NICARAGUA   M
6972         NaT  Unprovoked              IRAQ   M

                                                Species
2                                            Bull shark
8                                            bull shark
9                                            bull shark
10                                1.8m (6ft) bull shark
11                                           Bull shark
...                                                 ...
6932                                         Bull shark
6949                                         Bull shark
6950                                         Bull shark
6960  Bull shark caught, leg recovered & buried besi...
6972                                         Bull shark

[239 rows x 5 columns]

In [341]:
ique_species = df["Species"].unique()
print(unique_species)

['1.5m Tiger shark' 'Great White Shark' 'Bull shark' ... "12' tiger shark"
 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

In [365]:
df

0    Bull shark caught, leg recovered & buried besi...
1                             Great white shark attack
2                        Bull shark spotted near shore
3                                Tiger shark encounter
Name: Species, dtype: object

In [355]:
unique_species = filtered_df["Species"].unique()
print(unique_species)

['Bull shark' 'bull shark' '1.8m (6ft) bull shark'
 'Reportedly Tiger or Bull shark' 'Bull or tiger 7-8ft' 'Bull shark 6ft'
 'Bull shark 6-7ft' 'Bull shark 6 ft'
 'Not specified Bull shark highly suspect' 'Bull shark 3m '
 "Bull shark, 7'" '1.8m bull shark' "Bull shark, 4'" "Bull shark, 6'"
 "Bull shark, 9'" 'Bull shark, 3m' 'Bull shark, +100kg'
 'Said to involve a bull shark' 'Whaler or bull shark, 2m'
 'Bull shark, 80cm' "Bull shark, 6.5 to 10 '" "Bull shark. 6.5'"
 "Bull shark, 4' to 6'" 'Juvenile bull shark?' "Bull shark, 8'"
 'Bull shark pup' "Bull shark, 4' to 5'" 'Bull shark, 3.5 m' 'Bull shark?'
 "Said to involve a bull shark, 5' to 6'" 'Juvenile bull shark'
 'Bull shark, 2 m' 'Bull shark, 3 m ' 'Bull shark, 2m'
 "Bull shark, 5' to 7'" 'Bull shark, 1.5' 'Bull shark, 4 m'
 'Bull shark, 1 m' 'Bull sharks x 2' 'Bull shark, 2.8 to 3.1 m'
 "Bull shark, 5'" 'Bull shark, 2.5 m' 'Bull shark, 1.3 m'
 "Bull shark, 3' to 4'" "Bull shark, 4.5' " " Bull shark, 8'"
 "Bull shark, 9' to 10'" " Bull shark, 5'" ' Bull shark, 1.2m '
 'Reported to involve a bull shark' 'Thought to involve a bull shark'
 'Small bull shark' "Bull shark, 6' to 8'" "Possibly a Bull shark, 3'"
 'Bull shark, 2m ' 'Possibly a 3 m bull shark' 'possibly a bull shark'
 'Possibly a bull shark' "Possibly a 5' to 6' bull shark"
 'Bull shark, 3m female' "Bull shark, 12'" ' Bull shark, 2.5 m'
 'Bull shark, 2.5m' 'Bull shark, 1.4m ' "Bull shark, 10'"
 'Bull shark, 2.7 m ' "8' bull shark or Caribbean reef shark"
 "Bull shark, 6' to 7'" '2 small bull sharks' 'Bull shark, 1.8m'
 'A bull shark, according to some of the divers on the boat'
 "Possibly a 6' bull shark" "Possibly a 10' bull shark" "Bull shark, 5' "
 "Bull shark, 10' " 'Bull shark, 1.5m ' "Bull shark, 4' to 5' "
 'Bull or tiger shark' "5' to 6' spinner or bull shark"
 "Bull shark, 4' to bull shark" "1.8 m [6'] bull shark"
 "2.5 m [8.25'] bull shark"
 'Thought to involve a 2.5 m bull or tiger shark' "1.2 m [4'] bull shark"
 'Bull shark, 1.65 m [5\'5"] was speared & killed'
 'Bull shark, 132-kg [291-lb] ' "2.1 m  [7'] bull shark"
 "Thought to involve a >2 m [6.75'] bull shark"
 'Possibly a bull shark or tiger shark'
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] "
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark"
 'Bull shark, 400-lb ' "3 m [10'] bull shark" "1.9 m [6.5'] bull shark"
 "Bull shark, 2.3 m [7.5'] "
 "Thought to involve a 2.7 m [9'], 400-lb bull shark"
 "Bull shark, 2.4 m [8']" 'Tiger sharks & bull sharks (20 sharks in all)'
 'Thought to involve a white, bull or tiger shark'
 "2.7 m [9']  bull shark or Caribbean reef shark" "Bull shark, 2.1 m [7']"
 '3 bull sharks' "3 m to 3.7 m [10' to 12'] bull shark"
 "3 to 3.5 m [10' to 11.5'] bull shark"
 "3 m [10'], 200-kg [441-lb] bull shark" 'Bull shark or lemon shark'
 "2.7 m [9'] bull or lemon shark" "6' to 8' bull shark"
 "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark" 'Bull shark, 8'
 "2.1 m [7'] lemon shark or bull shark" "7' to 8' bull shark"
 'Tooth fragments of “whaler” shark were recovered, a bull shark, according to Edwards'
 'Bull shark, 1m ' "2.7 m [9'] bull shark, identified by Capt. W. Gray"
 'Bull shark suspected due to freshwater habitat'
 "1.5 m [5'] shark, probable bull shark"
 "Bull shark, 2.7 m [9'] was captured & dragged on the sand where tissue taken from Eggink was found in its gut. Species identification  was made by S. Springer based on 4 photographs of the shark. "
 "Bull sharks to 1.5 m [5']  in length" "Bull shark, 4 m [13'] "
 'Reportedly: oceanic whitetip sharks, blue sharks, tiger sharks & bull sharks'
 'Thought to involve bull sharks'
 "Bull shark caught, leg recovered & buried beside the man's body"]

In [359]:
import pandas as pd
import re

df = pd.DataFrame(data)
df.columns = df.columns.str.strip()

df["Species"] = df['Species'].apply(lambda x: re.sub(r'(?i)(Bull shark).*', r'\1', x))


print(df)

                    Species
0                Bull shark
1  Great white shark attack
2                Bull shark
3     Tiger shark encounter

In [363]:
df

0    Bull shark caught, leg recovered & buried besi...
1                             Great white shark attack
2                        Bull shark spotted near shore
3                                Tiger shark encounter
Name: Species, dtype: object

In [361]:
import pandas as pd
import re



df = pd.DataFrame(data)
df = df["Species"]


df['Species'] = df['Species'].apply(lambda x: re.sub(r'(?i)(Bull shark).*', r'\1', x))


print(df)

KeyError: 'Species'

In [ ]:
import pandas as pd
import re

# Load CSV file (make sure to replace 'your_file.csv' with the actual file path)
df = pd.read_csv("your_file.csv")

# Apply regex replacement to clean 'Species' column
df['Species'] = df['Species'].apply(lambda x: re.sub(r'(?i)(Bull shark).*', r'\1', str(x)))

# Save the cleaned DataFrame back to CSV (optional)
df.to_csv("cleaned_file.csv", index=False)

# Display updated DataFrame
print(df.head())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
# Your DataFrame should be called df and contain a 'Species' column
keywords = ['bull', 'tiger', 'white', 'mako', 'hammerhead', 'spinner', 'blacktip', 'thresher', 'blue', 'nurse', 'lemon']
def extract_simple_shark(text):
    text = str(text).lower()
    for k in keywords:
        if k in text:
            return k
    return 'other/unclear'
df['SharkType'] = df['Species'].apply(extract_simple_shark)

In [ ]:
df

In [ ]:
def rename_bull(x):
    if "bull" in Species:
        return "Bull Shark – Carcharhinus leucas"
    else:
        return x